# /var/lib/rancher/k3s/server/manifests/traefik-config.yaml
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ports:
      web:
        expose:
          default: true
        port: 80
      websecure:
        expose:
          default: true
        port: 443
        tls:
          enabled: true

    additionalArguments:
      - "--entryPoints.web.address=:80"
      - "--entryPoints.web.http.redirections.entryPoint.to=websecure"
      - "--entryPoints.web.http.redirections.entryPoint.scheme=https"

    certificatesResolvers:
      default:
        acme:
          email: nogara@mobilebrain.com.br
          storage: /data/acme.json
          dnsChallenge:
            provider: cloudflare
      cloudflare:
        acme:
          email: nogara@mobilebrain.com.br
          storage: /data/acme.json
          dnsChallenge:
            provider: cloudflare

    env:
      - name: CF_DNS_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: cloudflare-dns
            key: CF_DNS_API_TOKEN

    persistence:
      enabled: true
      path: /data

    providers:
      kubernetesCRD:
        enabled: true
      kubernetesIngress:
        enabled: false

    deployment:
      initContainers:
        - name: volume-permissions
          image: busybox:1.31.1
          command: ["sh", "-c", "touch /data/acme.json && chmod 600 /data/acme.json"]
          volumeMounts:
            - name: data
              mountPath: /data
