apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: traefik
  namespace: kube-system
spec:
  chart: traefik
  version: "" # leave empty for latest, or specify a version
  targetNamespace: kube-system
